.filme_container{
    padding: 50px;
    box-shadow: 0px 0px 9px 3px #ff80d0;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
}

.foto-filme{
    min-height: 200px;
    display:flex;
    align-items: center;
}
.foto-filme>img{
    width: 100%;
}

.sinopse{
    text-align: justify;
}

.filme_container h1{
    text-align: center;
}